<template>
  <div>
    <div class="home">List of Movies</div>
    <div>
      <div
        class="displayData"
        v-for="(movies, key) in MovieDetails.data.movies"
        :key="key"
      >
        <!-- {{ value.movies }} -->
        <div>hello</div>
        <div>hy</div>

        <div class="data1">{{ movies.title }}</div>
        <div class="data1">{{ movies.year }}</div>
        <div class="data1">{{ movies.rating }}</div>
        <!-- {{ value.movie_count }} -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapActions, mapState } from "vuex";
export default {
  name: "Home",
  data() {
    return {
      MovieDetails: {},
    };
  },
  computed: {
    ...mapState("demo", ["MovieInformation"]),
  },
  watch: {
    MovieInformation(val) {
      console.log(val);
      this.MovieDetails = val;
    },
  },
  created() {
    this.getMovieData();
  },
  methods: {
    ...mapActions("demo", ["getMovieData"]),
  },
};
</script>
<style scoped>
.home {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}
.displayData {
  display: flex;
  justify-content: space-around;
}
.data1 {
  width: 33.33%;
  text-align: left;
}
</style>
